$main-line: #d0d0d0;


.infor_del-description {
    .infor__title{
        margin-top: 1rem;
        h4 {
            font-weight: 600;
        }
    }
    .infor-utilities {
        height: 75px;
        border-top: 1px solid $main-line;
        border-bottom: 1px solid $main-line;
        padding: 10px 0;
        .profile_celler{
            float:left;
            width: 50%;
            border-right: 1px solid $main-line;
            .profile_celler-avatar {
                float: left;
                width: 52px;
                height: 52px;
                background-color: orange;
                border-radius: 50%;
                text-align: center;
                position: relative;
                .profile_celler-avatar__default{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                }
            }
        }
        .infor-lander {
            float: left;
            width: 50%;
            padding-left: 1rem;
        }

        .profile_celler-author{
            display: inline-grid;
            float: left;
            margin-left: 0.5rem;
            width: 40%;
            &__name {
                font-weight: 600;
            }
            &__title{
                font-size: 15px;
                font-style: oblique;
            }
        }
        .profile_celler-info{
            float: left;
            width: 40%;
            &__hotline {
                padding-left: 0.5rem;
                font-weight: 700;
            }
            &__mail {
                padding-left: 0.5rem;
                font-weight: 700;
            }
        }
        .utilities-item {
            float: left;
            padding: 0 1rem;
            .title {
                display: block;
                width: max-content;
                color: #999;
            }
            .value {
                display: block;
                width: max-content;
                font-weight: 600;
            }
        }
    }
    .infor-descreption {
        margin-top: 1rem;
        h4 {
            font-weight: 600;
        }
        .content-descreption {
            width: 100%; 
            white-space: pre-line;
        }
        .content-descreption-truncate {
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .watch-continue {
            float: right;
            font-weight: 700;
            cursor: pointer;
        }
    }
}